{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if user.is_authenticated %}
    <h3>Home Page</h3>
    {% for image in images %}
    <a href="{% url 'myapp:hack' %}"><img src="/{{image}}" width="570px" height="450px"></a>
    {% endfor %}<br>
    {% else %}
    <p>you are not authenticated please login to use the web app</p>
    {% endif %}
</body>
</html>
